@use '../../styles/Home.module.scss';

.header {
  // background-color: #f9e6b3;
  height: 6rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.logo {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  height: 100%;

  img {
    height: 100%;
  }
}
